@import url('https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.cdnfonts.com/css/horizon');
@import url('https://fonts.cdnfonts.com/css/tilt-warp');

a{
    text-decoration: none;
    color: #fff;
}
/*main{
    color: #fff;
    background-color: #bbe4e9;
    background-image: linear-gradient(to right, #82acff,#8dc6ff, #a2c9da,#eff5f5);
    min-height: 100vh;
}*/

main{
    background-color: #f4f4f4;
}

.container{
    display: flex;
    justify-content: center;
}

.glass-container{
    display: block;
    max-width: 72vw;
    margin-top: 10vh;
    margin-bottom: 30px;
    background: rgba(244, 244, 244, 1);
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(11.6px) ;
    -webkit-backdrop-filter: blur(11.6px);
    width: 20000px;
}

h1, h4 {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: 'Tilt Warp', sans-serif;
}

h1 {
    font-size: 70px;
}

h4 {
    font-size: 30px;
}

.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 2em;
    margin-top: 5em;
    margin-bottom: 5em;
    font-family: 'Abril Fatface', cursive;
}

.box:first-child{
    align-items: center;
}

.btn-primary{
    text-align : center;
    margin-top: 10px;
    width: auto;
    height: 40px;
    font-size: 15px;
    color:rgb(0, 0, 0);
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 7px 20px;
}

.btn-primary:hover{
border-color: #82acff;
background-color: #82acff;
}

h5, .btn-primary{
    justify-content: center;
    display: flex;
}

.navbar-nav {
    margin-left: 1100px;
}

.box2{
        display: flex;
        flex-direction: row;
        font-family: 'Abril Fatface', cursive;
        justify-content: center;
        align-items: center;
        height: 100vh;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
}

.card-img-top {
    width: 100%;
    height: 300px; /* Définissez la hauteur souhaitée en pixels */
    object-fit: cover;
}

/* LOGIN PAGE CSS */

.container-register,
.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
    margin: 0;
}

.left-container {
    background: linear-gradient(90deg, #cdffd8, #94b9ff);
    padding: 130px 40px;
}

.container-login .right-container {
    background-color: #d9d9d9;
    padding: 86px 80px;
}

.container-register .right-container {
    background-color: #d9d9d9;
    padding: 23px 80px;
}


.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-container h1{
    font-family: 'Tilt Warp', sans-serif;
    margin-bottom: 50px;
    font-size: 30px;
    padding-bottom: 50px;
    opacity: 67%;
  
}

.left-container h1{
    font-family: 'Tilt Warp', sans-serif;
    padding-top: 30px;
}

.left-container img {
    width: 180px;
    height: 180px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; 
    align-items: start; 
}

.form-group button {
    width: 150px;
    height: 40px;
    border-radius: 50px 50px;
    border: none;
    background: linear-gradient(90deg, #cdffd8, #94b9ff);
    color: rgb(59, 56, 56);
    font-family: "Abril Fatface"; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 22px;
    align-self: center; 
    margin-top: 50px;
}

.form-group button:hover {
    border: 1px solid black;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    align-self: center;
    background-color: #C8C8C8;
    border: none;
    border-bottom: 3px solid black;
    width: 250px;
    height: 25px;
}

.form-group label{
    color: black;
    font-size: 15px;
}

.center-content a{
    color: black;
}

.center-content a:hover{
    text-decoration: underline
}