@import url('https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.cdnfonts.com/css/horizon');
@import url('https://fonts.cdnfonts.com/css/tilt-warp');

/*  css pour la HomePage    */
a{
    text-decoration: none;
    color: #fff;
}
main {
    color: #fff;
    background-color: #bbe4e9;
    background-image: linear-gradient(to right, #82acff,#8dc6ff, #a2c9da,#eff5f5);
    min-height: 100vh;
}

main{
    background-color: #f4f4f4;
}

.container{
    display: flex;
    justify-content: center;
}

.glass-container{
    display: block;
    max-width: 72vw;
    margin-top: 10vh;
    margin-bottom: 30px;
    background: rgba(244, 244, 244, 1);
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(11.6px) ;
    -webkit-backdrop-filter: blur(11.6px);
    width: 20000px;
}

h1, h4 {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: 'Tilt Warp', sans-serif;
}

h1 {
    font-size: 70px;
}

h4 {
    font-size: 30px;
}

.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 2em;
    margin-top: 5em;
    margin-bottom: 5em;
    font-family: 'Abril Fatface', cursive;
}

.box:first-child{
    align-items: center;
}

.btn-primary{
    text-align : center;
    margin-top: 10px;
    width: auto;
    height: 40px;
    font-size: 15px;
    color:rgb(0, 0, 0);
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 7px 20px;
}

.btn-primary:hover{
border-color: #82acff;
background-color: #82acff;
}

h5, .btn-primary{
    justify-content: center;
    display: flex;
}

/*  css pour la navbar    */


.navbar-nav {
    margin-left: 1100px;
}

.box2{
        display: flex;
        flex-direction: row;
        font-family: 'Abril Fatface', cursive;
        justify-content: center;
        align-items: center;
        height: 100vh;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
}

.card-img-top {
    width: 100%;
    height: 300px; /* Définissez la hauteur souhaitée en pixels */
    object-fit: cover;
  }


/*   css pour le création Quizz    */

#all{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.container2{
    background-color: #f4f4f4;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    position: relative;
    overflow: hidden;
    width: 900px;
    max-width: 100%;
    min-height: 680px;
    margin-top: 7%;
    margin-bottom: 7%;
}

.container2 button{
    background-color: #a5bdfd;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 75%;
}

.container2 form{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100;
}

.container2 input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 180%;
    outline: none;
    margin-left: 55%;
}

.form-container2{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.Next-question{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container2.active .Next-question{
    transform: translateX(100%);
}
.Finish-the-quizz{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container2.active .Finish-the-quizz{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggler-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container2.active .toggler-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #d9f2ff;
    height: 100%;
    columns: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container2 .toggle{
    transform:translateX(50%);
}

.toggle-panel{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    right: 0;
    transform: translateX(-200%);
}

.container2 .toggle-left{
    transform: translateX(0);
}

.classe-titre{
    color: rgb(0, 0, 0);
    font-size: 32px;
}

.Next-question{
   margin-left: 50%;
}

.container2 span {
    color: rgb(0, 0, 0);
    margin-right: auto;
}

.classe-titre4{
    margin-bottom: 20%;
}

/* LOGIN PAGE CSS */

.container-register,
.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
    margin: 0;
}

.left-container {
    background: linear-gradient(90deg, #cdffd8, #94b9ff);
    padding: 130px 40px;
}

.container-login .right-container {
    background-color: #d9d9d9;
    padding: 86px 80px;
}

.container-register .right-container {
    background-color: #d9d9d9;
    padding: 23px 80px;
}


.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-container h1{
    font-family: 'Tilt Warp', sans-serif;
    margin-bottom: 50px;
    font-size: 30px;
    padding-bottom: 50px;
    opacity: 67%;
  
}

.left-container h1{
    font-family: 'Tilt Warp', sans-serif;
    padding-top: 30px;
}

.left-container img {
    width: 180px;
    height: 180px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; 
    align-items: start; 
}

.form-group button {
    width: 150px;
    height: 40px;
    border-radius: 50px 50px;
    border: none;
    background: linear-gradient(90deg, #cdffd8, #94b9ff);
    color: rgb(59, 56, 56);
    font-family: "Abril Fatface"; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 22px;
    align-self: center; 
    margin-top: 50px;
}

.form-group button:hover {
    border: 1px solid black;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    align-self: center;
    background-color: #C8C8C8;
    border: none;
    border-bottom: 3px solid black;
    width: 250px;
    height: 25px;
}

.form-group label{
    color: black;
    font-size: 15px;
}

.center-content a{
    color: black;
}

.center-content a:hover{
    text-decoration: underline
}